<%- include ('userHeader.ejs')%>
   
   
   
   <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="mb-6">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                       
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                     <% if (product.collection=="Men") { %>
                                    <li><a href="/menCollection">Men Collection</a></li>
                                    <% } %>
                                    <% if (product.collection=="Women") { %>
                                        <li><a href="/womenCollection">Women Collection</a></li>
                                        <% } %>
                                    <li class="active" aria-current="page">Product Details </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->




    <!-- Start Product Details Section -->
    <div class="product-details-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6">
                    <div class="product-details-gallery-area" data-aos="fade-up" data-aos-delay="0">
                        <!-- Start Large Image -->
                        <div class="product-large-image product-large-image-horaizontal swiper-container">
                            <div class="swiper-wrapper">
                                <div class="product-image-large-image swiper-slide product-image-container img-responsive">
                                    <!-- <img src="assets/images/product/default/home-1/default-1.jpg" alt=""> -->
                                    <img  class="default-img" src="/assets/uploads/<%= product.mainImage %>" alt="" >
                                </div>
                                <div class="product-image-large-image swiper-slide product-image-container img-responsive">
                                    <img  src="/assets/uploads/<%= product.image[0] %>" alt="">
                                </div>
                                <div class="product-image-large-image swiper-slide product-image-container img-responsive">
                                    <img  src="/assets/uploads/<%= product.image[1] %>" alt="">
                                </div>
                                <div class="product-image-large-image swiper-slide product-image-container img-responsive">
                                    <img  src="/assets/uploads/<%= product.image[2] %>" alt="">
                                </div>
                                <!-- <div class="product-image-large-image swiper-slide product-image-container img-responsive">
                                    <img  src="/assets/uploads/<%= product.image[3] %>" alt="">
                                </div> -->
                                
                            </div>
                        </div>
                        <!-- End Large Image -->




                        <!-- Start Thumbnail Image -->
                        <div
                            class="product-image-thumb product-image-thumb-horizontal swiper-container pos-relative mt-5">
                            <div class="swiper-wrapper">
                                <div class="product-image-thumb-single swiper-slide">
                                    <!-- <img class="img-fluid" src="assets/images/product/default/home-1/default-1.jpg"
                                        alt=""> -->
                                        <img class="img-fluid" src="/assets/uploads/<%= product.mainImage %>" alt="" >
                                </div>
                                <div class="product-image-thumb-single swiper-slide">
                                    <img class="img-fluid" src="/assets/uploads/<%= product.image[0] %>"
                                        alt="">
                                </div>
                                
                                <div class="product-image-thumb-single swiper-slide">
                                    <img class="img-fluid" src="/assets/uploads/<%= product.image[1] %>"
                                        alt="">
                                </div>
                                
                                <div class="product-image-thumb-single swiper-slide">
                                    <img class="img-fluid" src="/assets/uploads/<%= product.image[2] %>"
                                        alt="">
                                </div>
                                <!-- <div class="product-image-thumb-single swiper-slide">
                                    <img class="img-fluid" src="/assets/uploads/<%= product.image[3] %>"
                                        alt="">
                                </div> -->
                                
                            </div>
                            <!-- Add Arrows -->
                            <div class="gallery-thumb-arrow swiper-button-next"></div>
                            <div class="gallery-thumb-arrow swiper-button-prev"></div>
                        </div>
                        <!-- End Thumbnail Image -->
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6">
                    <div class="product-details-content-area product-details--golden" data-aos="fade-up"
                        data-aos-delay="200">




                        <!-- Start  Product Details Text Area-->
                        <div class="product-details-text">
                            <h4 class="title"><%= product.name %></h4>
                            <h6 class="product-ref ">For : <span><%= product.collection %></span></h6>
                            <div class="d-flex align-items-center">
                                <div class="review-star">
                                    <!-- <strong>Rating:</strong> -->
                                    <% for (let i = 1; i <= 5; i++) { %>
                                    <% if (i <= product.rating) { %>
                                        <!-- <i class=" fill ion-android-star"></i> -->
                                    <i class="fa fa-star text-warning"></i>
                                    <% } else { %>
                                        <!-- <i class=" empty ion-android-star"></i> -->
                                <i class="fa fa-star text-muted"></i>
                                    <% } %>
                                    <% } %>
                                    <a href="#detailSection" class="customer-review ml-2">(customer review )</a> 
                                    
                                </div>
                            </div>
                            <div class="">
                                <div class="float-left">
                                    <ins style="text-decoration: none;"><span class="price">₹<%= product.afterDiscount  %></span></ins>
                                    <ins style="text-decoration: none;"><span class="text-decoration-line-through">  ₹<%= product.price %></span></ins>
                                    <span
                                         class="save-price font-md color3 ml-15" style="color: rgb(7, 150, 7);"> <%= product.discountPrice %>%off
                                    </span>

                                </div>
                            </div>
                            
                           
                        </div> <!-- End  Product Details Text Area-->




                        <!-- Start Product Variable Area -->
                        <div class="product-details-variable">
                            <h4 class="title">Availability</h4>
                            <!-- Product Variable Single Item -->
                            <div class="variable-single-item">
                                  <% if(product.delete==true){ %>
                                    <h2 class="font-weight-bold text-danger">NOT AVAILABLE!</h2>
                                    <p >This item is currently not available</p>
                                <% } %>
                                <% if (product.stock>0) { %>
                                    <div class="product-stock"> <span class="product-stock-in">
                                        <i class="ion-checkmark-circled"></i></span> IN STOCK</div>
                                    <% } else { %>
                                        <h2 class="font-weight-bold text-danger">Sold Out</h2>
                                        <p >This item is currently out of stock</p>
                                    <% } %>
                                
                            </div>
                            <!-- Product Variable Single Item -->
                           

                            <!-- Product Variable Single Item -->
                            <!-- <div class="variable-single-item">
                                <span>Size</span>
                                <select class="product-variable-size">
                                    <option selected value="1"> size in option</option>
                                    <option value="2">s</option>
                                    <option value="3">m</option>
                                    <option value="4">l</option>
                                    <option value="5">xl</option>
                                    <option value="6">xxl</option>
                                </select>
                            </div> -->
                            <!-- Product Variable Single Item -->
                            <div class="d-flex align-items-center " >
                            
                                <div class="product-add-to-cart-btn ">
                                    
                                    <button type="button" onclick="addToCart('<%= product._id %>')" 
                                        class="btn btn-md btn-black-default-hover"
                                        >+ Add To Cart</button>

                                    
                                </div>

                                <div class="product-add-to-cart-btn ml-2">
                                    
                                    <button type="button"  onclick="addToWishlist('<%= product._id %>')" 
                                    class="btn-sort btn-md btn-sort"
                                    ><i class="icon-heart"> </i> Add to
                                    wishlist </button>
                                </div>
                                <div class="variable-single-item ">
                                    <!-- <span>Quantity</span> -->
                                    <div class="product-variable-quantity">
                                        <input min="1" max="4" value="1" type="number" id="quantity" hidden>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div> <!-- End Product Variable Area -->

                        <!-- Start  Product Details Catagories Area-->
                        <div class="product-details-catagory mb-2" >
                            <span class="title">CATEGORY:</span>
                            <ul>
                                <li><a href="#"><%=category.name%></a></li>
                                <!-- <li><a href="#">Casual</a></li>
                                <li><a href="#">Shirt</a></li> -->
                            </ul>
                        </div> <!-- End  Product Details Catagories Area-->


                        <!-- Start  Product Details Social Area-->
                        <div class="product-details-social">
                            <span class="title">SHARE THIS PRODUCT:</span>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div> <!-- End  Product Details Social Area-->
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Product Details Section -->





    <!-- Start Product Content Tab Section -->
    <div class="product-details-content-tab-section section-top-gap-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product-details-content-tab-wrapper" data-aos="fade-up" data-aos-delay="0">





                        <!-- Start Product Details Tab Button -->
                        <ul class="nav tablist product-details-content-tab-btn d-flex justify-content-center">
                            <li><a class="nav-link active" data-bs-toggle="tab" href="#description">
                                    Description
                                </a></li>
                            <li><a class="nav-link" data-bs-toggle="tab" href="#specification">
                                    Specification
                                </a></li>
                            <li><a class="nav-link" data-bs-toggle="tab" href="#review">
                                    Reviews (<%=review.length%>)
                                </a></li>
                        </ul> <!-- End Product Details Tab Button -->




                        <!-- Start Product Details Tab Content -->
                        <div class="product-details-content-tab" >
                            <div class="tab-content">
                                <!-- Start Product Details Tab Content Singel -->
                                <div class="tab-pane active show" id="description">
                                    <div class="single-tab-content-item">
                                         <p><%= product.description %></p>
                                        <p>Pellentesque aliquet, sem eget laoreet ultrices, ipsum metus feugiat sem,
                                            quis fermentum turpis eros eget velit. Donec ac tempus ante. Fusce ultricies
                                            massa massa. Fusce aliquam, purus eget sagittis vulputate, sapien libero
                                            hendrerit est, sed commodo augue nisi non neque. Lorem ipsum dolor sit amet,
                                            consectetur adipiscing elit. Sed tempor, lorem et placerat vestibulum, metus
                                            nisi posuere nisl, in accumsan elit odio quis mi. Cras neque metus,
                                            consequat et blandit et, luctus a nunc. Etiam gravida vehicula tellus, in
                                            imperdiet ligula euismod eget</p>
                                    </div>
                                </div> <!-- End Product Details Tab Content Singel -->
                                <!-- Start Product Details Tab Content Singel -->
                                <div class="tab-pane" id="specification">
                                    <div class="single-tab-content-item">
                                        <table class="table table-bordered mb-20">
                                            <tbody>
                                                <tr>
                                                    <th scope="row">For</th>
                                                    <td><%=product.collection%></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Category</th>
                                                    <td><%=category.name%></td>
                                                <tr>
                                                    <th scope="row">Cloth</th>
                                                    <td><%=product.cloth%></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p>Fashion has been creating well-designed collections since 2010. The brand
                                            offers feminine designs delivering stylish separates and statement dresses
                                            which have since evolved into a full ready-to-wear collection in which every
                                            item is a vital part of a woman's wardrobe. The result? Cool, easy, chic
                                            looks with youthful elegance and unmistakable signature style. All the
                                            beautiful pieces are made in Italy and manufactured with the greatest
                                            attention. Now Fashion extends to a range of accessories including shoes,
                                            hats, belts and more!</p>
                                    </div>
                                </div> <!-- End Product Details Tab Content Singel -->
                                <!-- Start Product Details Tab Content Singel -->
                                <div class="tab-pane" id="review">
                                    <div class="single-tab-content-item">
                                        <% if (review==false) { %>
                                            <p>No user reviews found</p>
                                         <% } else { %>
                                        <!-- Start - Review Comment -->
                                        <% review?.forEach((item,index) =>{ %>
                                        <ul class="comment">
                                            <!-- Start - Review Comment list-->
                                            <li class="comment-list">
                                                
                                                <div class="comment-wrapper">
                                                    <div class="comment-img">
                                                        <img src="<%= item.image%>" alt="">
                                                    </div>
                                                    <div class="comment-content">
                                                        <div class="comment-content-top">
                                                            <div class="comment-content-left">
                                                                <h6 class="comment-name"><%= item.name%></h6>
                                                                 <div class="review-star">
                                                                        <!-- <strong>Rating:</strong> -->
                                                                        <% for (let i = 1; i <= 5; i++) { %>
                                                                        <% if (i <= item.rating) { %>
                                                                            <!-- <i class=" fill ion-android-star"></i> -->
                                                                        <i class="fa fa-star text-warning"></i>
                                                                        <% } else { %>
                                                                            <!-- <i class=" empty ion-android-star"></i> -->
                                                                    <i class="fa fa-star text-muted"></i>
                                                                        <% } %>
                                                                        <% } %>

                                                                        
                                                                        
                                                                    </div>
                                                            </div>
                                                            <!-- <div class="comment-content-right">
                                                                <a href="#"><i class="fa fa-reply"></i>Reply</a>
                                                            </div> -->
                                                        </div>

                                                        <div class="para-content">
                                                            <p><%= item.reviewText%> </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul> <!-- End - Review Comment -->
                                        <hr>

                                        <% }); %>

                                        <% } %>
                                        <!-- <div class="review-form">
                                            <div class="review-form-text-top">
                                                <h5>ADD A REVIEW</h5>
                                               
                                            </div>

                                            <form id="reviewForm" method="post" >
                                                <div class="row">
                                                     <div class="col-md-6">
                                                        <div class="default-form-box">
                                                            <label for="comment-name">Rating <span>*</span></label>
                                                            <input id="rating" type="number" name="rating"
                                                                placeholder="rate out of 5" required>
                                                                <input id="productId" type="hidden" name="productId" value="<%=product._id%>">
                                                                <h6 id="ratingError" style="color:red;"></h6>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-12">
                                                        <div class="default-form-box">
                                                            <label for="comment-review-text">Your review
                                                                <span>*</span></label>
                                                            <textarea id="reviewComment" name="review"
                                                                placeholder="Write a review" required></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <button class="btn btn-md btn-black-default-hover"
                                                            type="submit">Submit</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div> -->
                                    </div>
                                </div> <!-- End Product Details Tab Content Singel -->
                            </div>
                        </div> <!-- End Product Details Tab Content -->

                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Product Content Tab Section -->




    <!-- Start Related Product Default Slider Section -->
    <div class="product-default-slider-section section-top-gap-100 section-fluid">
        <!-- Start Section Content Text Area -->
        <div class="section-title-wrapper" data-aos="fade-up" data-aos-delay="0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-content-gap">
                            <div class="secton-content">
                                <h3 class="section-title">RELATED PRODUCTS</h3>
                                <p>Browse the collection of our related products.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Section Content Text Area -->
        <div class="product-wrapper" data-aos="fade-up" data-aos-delay="0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="product-slider-default-1row default-slider-nav-arrow">
                            <!-- Slider main container -->
                            <div class="swiper-container product-default-slider-4grid-1row">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- End Product Default Single Item -->
                                    <!-- Start Product Default Single Item -->
                                    <% const productId = product._id.toString(); %>
                                    <% relatedProducts?.forEach((item,index) =>{ %>
                                        
                                        <% if (item._id.toString() !==productId) { %>
                                    <div class="product-default-single-item product-color--golden swiper-slide">
                                        <div class="image-box">
                                            <a href="productDetails?productId=<%= item._id %>" class="image-link">
                                                <img class="default-img" src="/assets/uploads/<%= item.mainImage %>" alt="" 
                                                >
                                                <!-- <img src="assets/images/product/default/home-1/default-9.jpg" alt=""> -->
                                                <img src="/assets/uploads/<%= item.image[0] %>"  alt="">
                                            </a>

                                            <!-- <div class="tag">
                                                <% if (item.stock<=0) { %>
                                                <span style="color: black; background-color: rgb(253, 128, 128);">Out of Stock</span>
                                                <% } else { %>
                                                    <span><%= item.discountPrice%>% off</span>
                                                <% } %>
                                            </div> -->
                                            
                                        </div>
                                        <div class="content">
                                            <div class="content-left">
                                                <h6 class="title"><a href= "productDetails?productId=<%= item._id %>"><%=item.name%></a></h6>
                                                <div class="review-star">
                                                    <!-- <strong>Rating:</strong> -->
                                                    <% for (let i = 1; i <= 5; i++) { %>
                                                    <% if (i <= item.rating) { %>
                                                        <!-- <i class=" fill ion-android-star"></i> -->
                                                    <i class="fa fa-star text-warning"></i>
                                                    <% } else { %>
                                                        <!-- <i class=" empty ion-android-star"></i> -->
                                                <i class="fa fa-star text-muted"></i>
                                                    <% } %>
                                                    <% } %>
                                                    
                                                </div>
                                            </div>
                                            <div class="content-right">
                                                <span class="price font-weight-bold">₹<%= item.afterDiscount%></span>
                                            </div>

                                        </div>
                                    </div>
                                    <% }; %>
                                    <% }); %>
                                    <!-- End Product Default Single Item -->
                                   
                                    
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Product Default Slider Section -->


    <script>
        
        // document.getElementById('reviewForm').addEventListener('submit', async function(event) {
        //     event.preventDefault(); // Prevent the default form submission
    
        //     const rating = document.getElementById('rating').value;
        //     const review = document.getElementById('reviewComment').value;
        //     const productId = document.getElementById('productId').value;
        //     const ratingPattern = /^[0-5](\.\d{1,2})?$/;
        //     console.log(review)
        //     if (!rating.match(ratingPattern)) { //checking if the user entered rating is between 0-5
        //         document.getElementById('ratingError').innerHTML = "Please enter a valid rating between 0 and 5.";
                
        //     }else{
        //         try {
        //             const response = await axios.post('/review', {
        //                 rating: rating,
        //                 review: review,
        //                 productId: productId
        //             });
                    
        //             // If the response is successful, show the success message using SweetAlert2
        //             Swal.fire({
        //                 title: 'Success!',
        //                 text: response.data.message,
        //                 icon: 'success',
        //                 confirmButtonText: 'OK',
        //                 customClass: {
        //                     confirmButton: 'sweetAlert-custom-button'
        //                  }
        //             }).then(() => {
        //                 // Optionally, you can reset the form or redirect the user after showing the message
        //                 // document.getElementById('reviewForm').reset();
        //                 //  window.location.href = `/productDetails?productId=${productId}`;
        //                 location.reload(); // Reload the page to reflect the changes

        //             });
        
        //         } catch (error) {
        //             console.error('There was an error submitting the review:', error);
        //             // Optionally, display an error message to the user using SweetAlert2
        //             Swal.fire({
        //                 title: 'Error!',
        //                 text: 'There was an error submitting your review. Please try again.',
        //                 icon: 'error',
        //                 confirmButtonText: 'OK',
        //                 customClass: {
        //                     confirmButton: 'sweetAlert-custom-button'
        //                  }
        //             });
        //         }
        //     }
        // });




        // Cart
        async function addToCart(productId) {
			console.log(productId);
			try {
                const quantity=document.getElementById('quantity').value
				const response = await axios.post('/cart', { productId, quantity });
				console.log(response);
				if (response.data.success) {
					await Swal.fire({
						icon: "success",
						title: "Success",
						text: response.data.message,
                        customClass: {
                            confirmButton: 'sweetAlert-custom-button'
                         }
					})
				} else {
					await Swal.fire({
						icon: "error",
						title: "Sorry",
						text: response.data.message,
                        customClass: {
                            confirmButton: 'sweetAlert-custom-button'
                         }
					})
					
				}
			} catch (error) {
				console.error("Error occurred:", error);
			}
		}


        // Wishlist
        async function addToWishlist(productId) {
			console.log(productId);
			try {
                
				const response = await axios.post('/wishlist', { productId });
				console.log(response);
				if (response.data.success) {
					await Swal.fire({
						icon: "success",
						title: "Success",
						text: response.data.message,
                        customClass: {
                            confirmButton: 'sweetAlert-custom-button'
                         }
					})
				} else {
					await Swal.fire({
						icon: "error",
						title: "Sorry",
						text: response.data.message,
                        customClass: {
                            confirmButton: 'sweetAlert-custom-button'
                         }
					})
					
				}
			} catch (error) {
				console.error("Error occurred:", error);
			}
		}
    
    </script>
    

    

    
    <%- include('userFooter.ejs') %>